/*---------------------------------------------------------------------- Common Start ----------------------------------------------------------------------*/

:root {
    --stic-saffron: #F9C950;
    --stic-saffron-links: #405580;
    --white: #ffffff;
}

.navbar,
.footer,
.dropdown-menu {
    background-color: var(--stic-saffron) !important;
}

@media all and (min-width: 992px) {
    .dropdown-submenu {
        margin-top: -41px;
    }

    .hero-portrait {
        display: none;
    }
}

@media all and (max-width: 991px) {
    .hero-landscape {
        display: none;
    }
}

.hero-portrait div {
    --bs-gutter-x: 0;
}

/*---------------------------------------------------------------------- Common End ----------------------------------------------------------------------*/
/*---------------------------------------------------------------------- Navbar Start ----------------------------------------------------------------------*/

.navbar a {
    color: var(--stic-saffron-links) !important;
}

.navbar-nav li:hover>ul.dropdown-menu {
    display: block;
    /* display: inline; */
}

.dropdown-submenu {
    position: absolute;
    left: 100%;
    /* margin-top: -41px; */
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    display: table-cell;
}

/* rotate caret on hover */
.dropdown-menu>li>a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

.offcanvas-body {
    background-color: var(--stic-saffron);
}

/* .dropdown-menu .dropdown-submenu {
    border: 1px solid var(--stic-saffron-links);
} */

/* li a.dropdown-item {
    background-color: var(--stic-saffron);
} */

/* ul.dropdown-submenu{
    background-color: var(--stic-saffron);
} */

/* .dropdown-menu {
    display: none;
}

.dropdown-menu.active {
    display: block;
} */

.dropdown-item:active {
    background-color: goldenrod;
}

.offcanvas-header {
    background-color: var(--stic-saffron);
}

/*---------------------------------------------------------------------- Navbar End ----------------------------------------------------------------------*/
/*---------------------------------------------------------------------- Hero Start ----------------------------------------------------------------------*/

/* .second-slide {
    background-image: url(/media/slide-1.jpg);
} */

.carousel-inner {
    width: 100%;
    height: auto
}

.carousel-caption {
    background-color: var(--stic-saffron);
}


/*---------------------------------------------------------------------- Hero End ----------------------------------------------------------------------*/
/*---------------------------------------------------------------------- Card Start ----------------------------------------------------------------------*/

.card {
    width: 100%;
    padding: 6rem 0 2rem 0;
    border: none;
}

.text-muted a {
    color: grey;
    text-decoration: none;
}

/*---------------------------------------------------------------------- Card End ----------------------------------------------------------------------*/
/*---------------------------------------------------------------------- Footer Start ----------------------------------------------------------------------*/

footer {
    padding: 3rem 0 1rem 0;
}

.footer-stic-logo img {
    width: 100%;
}

.footer-make-in-india-logo img {
    width: 75%;
    height: auto;
}

.footer li,
a {
    color: black;
    list-style-type: none;
    text-decoration: none;
}

/*---------------------------------------------------------------------- Footer End ----------------------------------------------------------------------*/